.container {
    width: 950px;
    border: solid #09f;
    background-color: #E6EFC2;
    padding: 10px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
}
/* 

The mdownContainer class holds the coderay code for converting ruby code into
html.  

*/
.mdownContainer {
    width: 650px;
    height: 165px;
    background-image: url(/images/shadeform.jpg);
    padding: 5px;
}