<!DOCTYPE html>

<html>
  <!-- Head Section -->
  <%= render 'layouts/head' %>
  <!-- /end Head -->

  <body>

    <!-- Open Container -->
    <div class="container">

      <!-- Main Content -->
      <%= yield %>
      <!-- / end Main Content -->

    </div>
    <!-- / close container -->

  </body>

</html>